<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} DETALLES {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <link href=" {% static 'css/styles.css' %} " rel="stylesheet" />
</head>
<body>
    {% include 'sections/navBar.html' %}
    {% block blog %}
        <div class="container p-4">
            <div class="card m-4">
                <div class="card-header text-white bg-primary p-4">
                    <h1>{{blog.title}}</h1>
                    <p>Publicado por: <strong> {{blog.author}}</strong></p>
                </div>
                <div class="card-body bg-primary bg-opacity-25 p-4">
                    <h2>{{blog.subtitle}}</h2>
                    <p>{{blog.description}}</p>
                    <p><small>{{blog.post_date}}</small></p>
                    
                </div>
            </div>
        </div>
        {% endblock %}
        <a class="btn-primary p-2 m-4" href="{% url 'AppCoderInicio'%}">VOLVER AL INICIO</a>
    <br>
    <br>
    {% include 'sections/footer.html' %}
</body>
</html>